This finds the amount of revenue based off the amount of members.

In [1]:
members = 2000
membership_fee = 35
membership_revenue = members * membership_fee
membership_revenue

70000

This finds the amount of revenue based off the amount of drinks bought

In [2]:
percentage_buying_drinks = 0.3
cold_brew_price = 5
drink_sales_revenue = percentage_buying_drinks * members * cold_brew_price
drink_sales_revenue

3000.0

This shows the cost of having the staff. This includes the summer hours.

In [3]:
staff = 10
hourly_wage = 12.5
weekly_hours = (5 * 9) + (2 * 10)
monthly_hours = 4 * weekly_hours
staff_cost = staff * hourly_wage * monthly_hours
staff_cost

32500.0

The cost of rent of the building

In [4]:
rent_cost = 2000
total_cost = staff_cost + rent_cost
total_revenue = membership_revenue + drink_sales_revenue
net_profit = total_revenue - total_cost
total_cost, net_profit

(34500.0, 38500.0)

This part adds all of that up and determines a rough monthly estimate for profit.

In [5]:
members = 1500
membership_revenue = members * membership_fee
drink_sales_revenue = percentage_buying_drinks * members * cold_brew_price
total_revenue = membership_revenue + drink_sales_revenue
net_profit = total_revenue - total_cost
membership_revenue, drink_sales_revenue, total_revenue, net_profit

(52500, 2250.0, 54750.0, 20250.0)

In [6]:
import pandas as pd

data = {
    'Revenue/Cost Item': ['Membership Revenue', 'Drink Sales Revenue', 'Staff Cost', 'Rent Cost', 'Total Revenue', 'Total Cost', 'Net Profit'],
    'Amount': [membership_revenue, drink_sales_revenue, staff_cost, rent_cost, total_revenue, total_cost, net_profit]
}

df = pd.DataFrame(data)
df

     Revenue/Cost Item   Amount
0   Membership Revenue  52500.0
1  Drink Sales Revenue   2250.0
2           Staff Cost  32500.0
3            Rent Cost   2000.0
4        Total Revenue  54750.0
5           Total Cost  34500.0
6           Net Profit  20250.0